<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets '@bootstrap_css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/style.css') }}"/>
        <style>
            /*.navbar{
                border: none;
                border-radius: 0;
                background-color: rgba(0,0,0,0.7);
            }
            .navbar-inverse {
                background-image: none !important;
                border-radius: 0px;
            }*/
            .intro h1, .intro-title {
                color: #fff;
                font-family: Roboto;
                font-size: 44px;
                font-weight: bold;
                letter-spacing: -0.3px;
                margin-bottom: 10px;
                padding-bottom: 0;
                text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
                text-transform: uppercase;
                transition: font 400ms cubic-bezier(0.25,0.1,0.25,1) 0s;
            }
        </style>
    </head>
    <body>
        <div id="wrapper">
        <div class="header">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <a href="index.html" class="navbar-brand logo logo-title">

                            <span class="logo-icon"><i class="icon icon-search-1 ln-shadow-logo shape-0"></i> </span> BOOT<span>CLASSIFIED </span> </a> </div>
                    <div class="collapse navbar-collapse navbar-ex-collapse">
                        {{ knp_menu_render('main', {'currentClass': 'active', 'template': 'AppBundle:menu:knp_menu.html.twig'}) }}
                    </div>
                </div>
            </nav>
        </div>

        <div class="intro">
            <div class="dtable hw100">
                <div class="dtable-cell hw100">
                    <div class="container text-center">
                        <h1 class="intro-title animated fadeInDown"> Find Classified Ads </h1>
                        <p class="sub animateme fittext3 animated fadeIn"> Find local classified ads on bootclassified in Minutes </p>
                        <div class="row search-row animated fadeInUp">
                            <div class="col-lg-4 col-sm-4 search-col relative locationicon">
                                <i class="icon-location-2 icon-append"></i>
                                <input type="text" name="country" id="autocomplete-ajax" class="form-control locinput input-rel searchtag-input has-icon" placeholder="City/Zipcode..." value="" autocomplete="off">
                            </div>
                            <div class="col-lg-4 col-sm-4 search-col relative"> <i class="icon-docs icon-append"></i>
                                <input type="text" name="ads" class="form-control has-icon" placeholder="I'm looking for a ..." value="">
                            </div>
                            <div class="col-lg-4 col-sm-4 search-col">
                                <button class="btn btn-primary btn-search btn-block"><i class="icon-search"></i><strong>Find</strong></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            {% block body %}{% endblock %}
        </div>
        </div>


        {% javascripts '@jquery' '@bootstrap_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script src="{{ asset('js/parallax.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
