{% extends 'base.html.twig' %}

{% block body %}
    <h1>Appartements</h1>

    <table>
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ appartement.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ appartement.description }}</td>
            </tr>
            <tr>
                <th>Adresse1</th>
                <td>{{ appartement.adresse1 }}</td>
            </tr>
            <tr>
                <th>Adresse2</th>
                <td>{{ appartement.adresse2 }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ appartement.cp }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ appartement.ville }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ appartement.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('locations_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('locations_edit', { 'id': appartement.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
